{% extends "base.html" %}
{% block title %}Custom 500{% endblock %}
{% block content %}
    <h1>Custom 500</h1>
    {% comment %} хотел рассширить, но решил для ревью оставить только кастомный ответ {% endcomment %}
    {% comment %} <div class="card-header">500</div>
    <div class="card-body">
        <p>
            Ошибка 500 говорит о том, что сервер не может обработать запрос к сайту, на странице которого вы находитесь. При этом браузер не может точно сообщить, что именно пошло не так.
        </p>
    </div> {% endcomment %}
{% endblock %}
