{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <h1>Привет! Меня зовут Иван и это мой первый проект.</h1>
    <div class="row">
        <div class="col-md-9">
            <div class="card-text">
                <p>
                    Буду рад получить ваши предложения по улучшению проекта. Контакты:
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <a class="p-2 text-dark" href="mailto:banes31@ya.ru">Mail.yandex</a>
                            <br>
                            <a class="p-2 text-dark" href="https://github.com/Banes31">Github</a>
                        </div>
                    </li>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
