{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
    <div class="row">
        <h1>Технологии</h1>
        <article class="col-12 col-md-9">
            <aside class="col-12 col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python 3.7.0</li>
                    <li class="list-group-item">Django 2.2.9 - фреймворк</li>
                    <li class="list-group-item">Bootstrap - стили и оформление</li>
                    <li class="list-group-item">VS Code - среда разработки</li>
                    <li class="list-group-item">Git - система контроля версий</li>
                </ul>
            </aside>
        </article>
    </div>
{% endblock %}
